 /* footer 스타일 시작 */
 @charset 'utf-8';
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
    /* footer 스타일 시작 */
    footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: black;
      padding: 30px 0 10px 0;
      height: 50px;
      align-items: center;
  }
  .footer-wrap {
      width: 100%;
      max-width: 1850px; /* 기존에는 1280px였으므로 유지하고 싶은 경우 */
      margin: 0 auto;
  }
    .footer-wrap h2 {
        color: #aaa;
        letter-spacing: 2px;
        font-size: 25px;
    }

    .footer-top span {
        color: white;
        margin-left: 15px;
    }

    .footer-top span i:hover {
        color: gray;
        transition: 0.5s;
        cursor: pointer;
    }
    .footer-top {
        display: flex;
        justify-content: space-between;
    }
   